<div class="container">
<form action="/answer">
  <div>
    <label for="question"> Ask anything to your Stupid Coach</label>
  </div>

  <div >
    <input type="text" id="question" name="question" >
    <input class="button" type="submit" value="Ask!">
  </div>
</form>
</div>
